.layout {
  //background-color: #F3F3F3;
  //background-color: #fff;
  background-color: #000;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;

  &.dark {
    background-color: #000;
  }

  &.rent, &.home {
    background-color: #000;
  }
}

.rent-page .layout {
  background-color: #000;
}