.banquet-menu-container {
  position: relative;
  background: url(../../../public/images/menu/menu_background_lightMode.jpg) center no-repeat;
  min-height: 800px;
  padding: 57px 10px 51px 53px;

  .menu-option {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 100px;

    &:first-child {
      transform: translateY(-300px);
    }

    &:nth-child(1) {
      transform: translateY(-60px);
    }

    &:nth-child(2) {
      transform: translateY(20px);
    }

    &:nth-child(3) {
      transform: translateY(100px);
    }

    & > svg > path {
      stroke: #fff;
    }
  }
}

.banquet-menu-person {
  width: 591px;
  height: 711px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(-1, 1)
}

.banquet-menu-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.12em;

  color: #FFFFFF;
  position: absolute;
  z-index: 10;

  //margin-top: 500px;
  bottom: 57px;
  max-width: 590px;
}

@media (max-width: 1600px) and (min-width: 1250px) {
  .banquet-menu-container {
    min-height: 690px;
  }
}

@media (max-width: 1250px) {
  .banquet-menu-container {
    padding: 27px 10px 51px 40px;
  }
  .banquet-menu-person {
    width: 517px;
    height: 624px;
  }
  .banquet-menu-container .menu-option {
    font-size: 40px;
    line-height: 48px;
  }
  .menu-option svg {
    //width: 12px;
    height: 24px;
  }
  .banquet-menu-text {
    max-width: 457px;
    //margin-top: 600px;
  }
}

@media (max-width: 650px) {
  .banquet-menu-container {
    margin: 21px;
    position: relative;
    // background: url(../../../public/images/menu/banquet_menu_mobile_small.jpg) center no-repeat;
    overflow: hidden;
    min-height: 700px;
    padding: 0px 10px 0px 21px;
  }
  .banquet-menu-container:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
  }
  .banquet-menu-person {
    width: 339px;
    height: 409px;
    right: -120px;
  }
  .banquet-menu-container .menu-option {
    font-size: 20px;
    line-height: 48px;
    top: 470px;

    &:nth-child(1) {
      transform: translateY(-80px);
    }

    &:nth-child(2) {
      transform: translateY(-40px);
    }

    &:nth-child(3) {
      transform: translateY(0);
    }
  }
  //&:nth-child(1) {
  //  transform: translateY(-80px);
  //}
  //
  //&:nth-child(2) {
  //  transform: translateY(-40px);
  //}


  .menu-option svg {
    //width: 12px;
    height: 14px;
    margin-left: 17px !important;
  }
  .banquet-menu-text {
    max-width: 285px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 375px) {
  .banquet-menu-container {
    background: url(../../../public/images/menu/banquet_menu_mobile_small.jpg) center no-repeat;
  }
}