.welcome-container {
  position: relative;


  &.rent {
    padding: 0 52px;
    background: url(../../../public/images/welcome_rent.jpg) no-repeat;
    //background-size: 100% 100%;
    min-height: 960px;
  }
  &.dark {
    color: #fff;
    .welcome-bottom-address {
      border-color: #fff;
    }
  }
}

//.intro {
//  max-height: 100vh;
//  overflow: hidden;
//}
//
//.video {
//  //position: relative;
//  padding-bottom: 56.25%;
//}
//
//.video_media {
//  width: 100%;
//  height: auto;
//  position: absolute;
//  top: 0;
//  left: 0;
//}

.welcome-content-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.welcome-content {

  position: relative;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  .address-span {
    margin-top: 85px;
  }
}

.welcome-logo {
  background: url(../../../public/images/welcome_logo.svg) no-repeat center;
  width: 520px;
  height: 180px;
}


.welcome-logo-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  position: absolute;
  &.upper {
    //position: absolute;
    left: 165px;
    top: 35px;
  }
  &.lower {
    bottom: -35px;
  }
}
