footer {
  padding: 52px 62px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

.footer-logo {
  width: 195px;
  height: 47px;
}

.footer-bottom {
  margin-top: 51px;
  display: flex;
  justify-content: space-between;
}

.footer-documents {
  display: flex;
  flex-direction: column;
  width: 33.3333%;
  padding: 0 20px;
}

.footer-documents-item {
  margin-bottom: 30px;
}

.footer-socials {
  display: flex;
  flex-direction: row;

  a:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 900px) {
  .footer-bottom {
    //flex-direction: column;
    & > div:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  .footer-documents {
    // width: 100%;
  }
}

@media (max-width: 800px) {
  footer {
    padding: 52px 30px;
  }

  .footer-bottom {
    //flex-direction: column;
    flex-wrap: wrap;
    //&>div:not(:last-child) {
    //  margin-bottom: 40px;
    //}
  }
  .footer-documents {
    //width: 100%;
  }
}

@media (max-width: 650px) {
  footer {
    padding: 52px 30px;
  }

  .footer-bottom {
    flex-direction: column;
    flex-wrap: wrap;
    //&>div:not(:last-child) {
    //  margin-bottom: 40px;
    //}
  }
  .footer-documents {
    width: 100%;
  }
}
