.button {
  padding: 16px 40px;
  text-transform: uppercase;
  border-radius: 32px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.08em;

  //width: fit-content;
  &.white {
    background-color: #fff;
    color: #000;
    &.dark {
     // background-color:  #000;
     // color:#fff;
    }
  }
  &.black {
    background-color: #000;
    color: #fff;
    &.dark {
      background-color:  #fff;
      color:#000;
    }
  }
  &.book {
    //margin-left: 8px;

    //color: #fff;
    //background: #000000;
  }
}