#book {
  padding: 60px 50px;
  position: relative;
  background-color: #fff;

  .book-hand-top {
    position: absolute;
    top: 0;
    right: 0;
  }

  .book-hand-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.book-container {
  padding: 225px 174px 237px 174px;
  background: #000000;
  display: flex;
  transition: all 0.3s ease-in-out;

  &.dark.home {
    background-color: #fff;
    transition: all 0.3s ease-in-out;

    .book-title {
      color: #000;
    }

    .book-form-container input {
      background-color: #fff;
      border-color: #000;
      color: #000;
    }

    .fieldset label {
      color: #000;
    }

    .book-form-container button {
      background-color: #000;
      color: #fff;
    }

    .book-right-text {
      color: #000;
    }

    .book-hand-top, .book-hand-bottom {
      display: none;
    }

    .book-policy-checkbox .fake-checkbox::before {
      border-color: #000;
    }

    .book-policy-checkbox .custom-checkbox:checked + label::before {
      fill: black !important;
    }

    .custom-checkbox:checked + label::before {
      color: #000;
    }

    .incorrect-phone {
      color: #000;
    }

    .fieldset label {
      // color: #000;
    }
  }
}

.book-left {
  display: flex;
  flex-direction: column;
}

.book-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.book-form-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  input {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 24px;
    color: #fff;
    border: 2px solid #FFFFFF;
    border-radius: 32px;

    &:first-child {
      margin-bottom: 32px;
    }

    //padding-left: 65px;
    &#phoneNumberInput {
      padding-left: 60px;
    }

    &::placeholder {
      color: #AAA9A9;
    }

    &:invalid,
    &:valid {
      //border-color: #dc3545;
      //padding-right: 2.25rem;
      //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      //background-repeat: no-repeat;
      //background-position: right 0.5625rem center;
      //background-size: 1.125rem 1.125rem;
    }
  }

  button {
    background: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    // gap: 16px;

    // width: 514px;
    // height: 52px;

    background: #FFFFFF;
    border-radius: 32px;

    transition: 0.3s ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }
}

.fieldset {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  label {
    position: absolute;
    left: 26px;
    bottom: 8px;
    transform: translateY(-50%);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
  }
}

.book-policy-checkbox {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  //margin-top: 32px;
  margin-bottom: 32px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  color: #656565;
  display: flex;
  align-items: flex-start;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .fake-checkbox {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  .fake-checkbox::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #D9D9D9;
    border-radius: 100px;
    margin-right: 0.5em;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 15px;
    padding: 4px;
  }

  .custom-checkbox:checked + label::before {
    content: "\2713";
  }

  a {
    color: #656565;
    text-decoration: underline;
  }
}


.book-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 150px;
  margin-top: 20px;
}

.book-right-text {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: 0.08em;
  padding-bottom: 30px;
}

.incorrect-phone {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  //line-height: 32px;

  letter-spacing: 0.08em;

  padding: 15px 0 20px 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.book-policy-checkbox-text {
  order: 2;
  margin-left: 10px;
}

.book-hand-bottom, .book-hand-top {
  display: none;
}

@media (max-width: 1250px) {
  #book {
    background-color: #000;
  }
  .book-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .book-right {
    order: 1;
    display: flex;
    margin: 0;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    //font-size: 16px;
    //line-height: 16px;
    margin-bottom: 200px;
  }
  .book-right-text:not(:last-child) {
    padding-right: 45px;
  }
  .book-left {
    order: 2;
  }
  .home-page {

  }
  .rent-page {

  }
}

@media (max-width: 650px) {
  #book {
    background-color: #f3f3f3;
  }
  .book-container {
    background-color: #f3f3f3;
  }
  .book-right {
    display: none;
  }
  .book-title {
    color: #000;
    font-size: 16px;
    line-height: 32px;
  }

  .book-form-container input {
    background-color: #fff;
    color: #000;
    border-color: #000;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 20px;
  }
  .fieldset label {
    color: #000;
    font-size: 14px;
    bottom: -2px;
  }
  .book-policy-checkbox .fake-checkbox::before {
    color: #000;
  }
  .book-form-container button {
    color: #fff;
    background-color: #000;
  }
  .book-form-container input#phoneNumberInput {
    padding-left: 45px;
  }
  .incorrect-phone {
    color: #000;
    font-size: 12px;
  }
  .book-policy-checkbox-text {
    font-size: 14px;
    line-height: 24px;
  }
}