#interior {
  padding: 60px 48px 60px 48px;

  img {
    background-position: 50%;
    background-repeat: no-repeat;
    // max-height: 700px;
    object-fit: cover;
    width: 100%;
  }
}

.interior {
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;

  &.dark {
    background-color: #000;

    .interior-title {
      color: #fff;
    }
  }
}

.interior-title {
  font-family: 'Attack Type', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.12em;
  margin-bottom: 43px;

  transition: color 0.3s ease-in-out;
}

@media (max-width: 1600px) and (min-width: 1250px) {

  .menu-option {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (max-width: 1250px) {
  #interior {
    padding: 40px 29px 40px 29px;
  }
  .interior-title {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 32px;
  }
}

@media (max-width: 650px) {
  #interior {
    padding: 20px 21px 20px 21px;
  }
  .interior-title {
    font-size: 32px;
    line-height: 64px;
    margin-bottom: 12px;
  }
}