.header-button-change-theme {
  //padding: 16.5px 25px 16.5px 7px;
  //margin-right: 8px;
  display: flex;
  align-items: center;
  //width:fit-content;
  border: 1px solid #fff;
  border-radius: 32px;
  cursor: pointer;
  position: relative;
  width: 190px;
  height: 52px;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  /* identical to box height */

  letter-spacing: 0.08em;
  color: #000;
  background-color: #fff;

  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &.dark {
    color: #000;
    border-color: #fff;
    background-color: #fff;

    .header-button-change-theme-circle {
      left: 142px;
      //border-color: #fff;
      border-color: #000;
      background-color: #000;
    }
  }
}

.header-button-change-theme-circle {
  width: 38px;
  height: 38px;
  border: 1px solid #000;
  border-radius: 100px;
  position: absolute;
  left: 7px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  //background-color: #fff;
  //background-color: #fff;
  //transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  //&.dark {
  //  left: 142px;
  //  //border-color: #fff;
  //  border-color: #000;
  //  background-color: #000;
  //}
}

.header-button-change-theme-text {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  //margin-left: 16px;
  //padding-left: 35px;
  //right: 0;
  padding: 0 20px;
  transition: opacity 0.1s ease-in-out;

  &.bar {
    //padding-right: 35px;
    //padding-left: 0;
    float: left;
  }

  &.restaurant {
    right: 0;
  }

  &.visible {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }
}

@media (max-width: 650px) {
  .header-button-change-theme {
    font-size: 14px;
    line-height: 17px;
    width: 149px;
    height: 34px
  }

  .header-button-change-theme-text {
    padding: 0 10px;
  }
  .header-button-change-theme-circle {
    width: 24px;
    height: 24px;

  }
  .header-button-change-theme.dark .header-button-change-theme-circle {
    left: 116px;
  }
}